/vendor
/public/videos
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
public/recordings/progress.txt
public/recordings/reader.php
public/recordings/stream.mp4
public/recordings/12/recording.mkv
public/recordings/13/recording.mp4
public/recordings/19/recording.mp4
public/recordings/20/recording.mp4
public/recordings/21/recording.mp4
public/recordings/22/recording.mp4
public/recordings/23/recording.mp4
public/recordings/24/recording.mp4
public/recordings/25/recording.mp4
public/recordings/26/recording.mp4
public/recordings/27/recording.mp4
public/recordings/28/recording.mp4
public/recordings/29/recording.mp4
public/recordings/30/recording.mp4
public/recordings/9/recording.mp4
